# API Configuration
NEXT_PUBLIC_API_URL=https://cribseekers.onrender.com/api/v1
NEXT_PUBLIC_SOCKET_URL=https://cribseekers.onrender.com

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_KEY=your_google_maps_key_here

# Environment
NODE_ENV=development
